# Entorno virtual de Python
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Archivos del sistema y editores
.DS_Store
Thumbs.db
.vscode/
.idea/
saves/

# Despliegue
descargas/
/tmp/dino_king.tar.gz

# Caché local de Firebase CLI
.firebase/
